*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: linear-gradient(285deg, #8500a7, #FF7B00);
    color:white;
    font-family: "Poppins", sans-serif;
    min-height: 100vh;
}

header{
    font-size: 1.0rem;
    min-height:10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

form{
    min-height:5vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

form input, form button{
    padding:0.5rem;
    font-size:1rem;
    border: none;
    background: white;
}

form button{
    color:#FF7B00;
    background: white;
    cursor: pointer;
    transition: all 0.3s ease;
}

form button:hover{
    background:#8500a7 ;
    color:#FF7B00;
}

.todo-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.todo-list{
    min-width: 30%;
    list-style: none;
}

.todo{
    display: flex;
    margin: 0.3rem;
    background: white;
    color: black;
    font-size: 1rem;
    justify-content: space-between;
    align-items: center;
    transition: all 0.5s ease;
}

.todo li{
    flex: 1;
}

.trash-button, .complete-button{
    background: #FF7B00;
    color: white;
    border: none;
    padding: 1rem;
    cursor: pointer;
    font-size: 1rem;

}

.complete-button{
    background: #e202cf;
}

.todo-item{
    padding: 0rem 0.5rem;
}

.fa-trash, .fa-check{
    pointer-events: none;
}

.completed{
    text-decoration: line-through;
    opacity: 0.5;
}

.fall{
    transform: translateY(8rem) rotateZ(20deg);
    opacity: 0;
}

select{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    border: none;
}

.select{
    margin: 0.5rem;
    position: relative;
    overflow: hidden;
}

select{
    color:#e202cf ;
    width: 10rem;
    cursor: pointer;
}

.select::after{
    position: absolute;
    background: #e202cf;
    top: 0;
    right: 0;
    padding: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}

.select:hover::after{
    background: white;
    color:#e202cf;
}